#transaction-logs-screen-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#transaction-logs-screen-container > h1 {
	margin: auto;
	color: white;
	font-size: 35px;
	text-shadow: 5px 5px 10px black;
}

#transaction-logs-screen-subcontainer {
	background-color: rgba(196,196,196,0.3);
	width: 95%;
	height: 80%;
	margin: auto;
	overflow-y: scroll;
	border-radius: 10px;
}

#transaction-logs-screen-subcontainer {
	border-radius: 10px;
}

