#transaction-register-screen-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#transaction-register-screen-container > h1 {
	color: white;
	text-shadow: 5px 5px 10px black;
}

input {
    font-family: "PostNoBillsJaffna-ExtraBold";
	font-size: 20px;
	color: #301B52;
}

#transaction-register-content {
	width: 100vw;
	display: flex;
	flex-direction: row;
	margin: auto;
}

#transaction-register-column-n1 {
	width: 33.33%;
	/*background-color: red;*/
}

#transaction-register-column-n2 {
	width: 33.33%;
	/*background-color: green;*/
}


#transaction-register-column-n3 {
	width: 33.33%;
	/*background-color: yellow;*/
}

#transaction-register-screen-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 300px;
}

#transaction-register-title {
	margin: auto;
	font-size: 35px;
}

.transaction-register-screen-input {
	width: 100%;
	height: 40px;
	margin-bottom: 14px;
}

#size-input {
	display: flex;
	flex-direction: row;
}

.transaction-register-screen-input-size {
	width: 60px;
	height: 40px;
	text-align: center;
}

#transaction-register-screen-input-x-symbol {
	width: 30px;
	height:40px;
	margin-left: 6px;
	margin-right: 6px;
	text-align: center;
	font-size: 20px;
}

#transaction-register-screen-input-x-symbol:focus {
	outline: 0px solid black;
}

#transactionReg-screen-category-container {
	width: 100%;
	/*background-color: pink;*/
	text-align: center;
	color: white;
}

#transactionReg-screen-category-subcontainer {
	width: 100%;
	height: 42px;
	background-color: black;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
}

#transactionReg-screen-category-subcontainer > div {
	width: 25%;
	font-size: 18px;
	border-radius: 20px;
	display: flex;
	align-content: center;
}

#transactionReg-screen-category-subcontainer > div > span {
	margin: auto;
	pointer-events: none;
}

#transactionReg-screen-submit-buttons {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
}

/*Button register*/
#transactionReg-reg-btn {
	margin-right: 42px;

	width: 50%;
	font-size: 20px;
	background-color: #307FE2;
	border: 0px;
    font-family: "PostNoBillsJaffna-ExtraBold";
	color: white;
	border-radius: 4px;
	transition: 0.3s;
}

#transactionReg-reg-btn:hover, #transactionReg-cancel-btn:hover {
	border: 3px solid black;
}

/*Button cancel*/
#transactionReg-cancel-btn {
	width: 50%;
	font-size: 20px;
	background-color: #9E9E9E;
	border: 0px;
    font-family: "PostNoBillsJaffna-ExtraBold";
	color: white;
	border-radius: 4px;
	transition: 0.3s;
}

#transactionReg-cancel-btn:hover, #transactionReg-cancel-btn:focus{
	border: 3px solid black;
}

#transactionReg-screen-submit-buttons > button {
	width: 129px;
	height: 100%;
}

#transactionReg-screen-ubication-tag {
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.43);
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px
}

#ubication-tag-label {
	width: 80%;
	color: white;
}

#ubication-tag-label > p {
	margin: 0px;
}

#ubication-tag-see-all {
	width: 20%;
	color: #307FE2;
}

#transaction-register-column-n3 {
	display: flex;
	align-content: center;
}

#transaction-register-column-n3 > p {
	align-self: center;
	color: red;
	margin: auto;
}

#transactionReg-screen-selector {
	width: 103%;
	margin-top: 14px;
	margin-bottom: 14px;
	font-family: "PostNoBillsJaffna-ExtraBold";
	color: #301B52;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 992px) {
	#transaction-register-content {
		flex-direction: column;
	}
	
	#transaction-register-column-n1 {
		width: 100%;
	}

	#transaction-register-column-n2 {
		width: 100%;
	}

	#transaction-register-column-n3 {
		width: 100%;
	}
}

